.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: var(--terciary-font-color);
  }
  main {
    padding: 2em; 

    display: flex;
    place-items: center;
    flex-direction: column;
}