/*tarjetas de productos*/
.container{
    display:flex;
    flex-wrap:wrap;
    gap:1em;
    justify-content: center;
}
.cardContainer{
    width: 400px;
    height: auto;
    padding: 1em;
    border-radius: 12px;
    border:1px solid gray;
    cursor:pointer;
    font-weight: 600;
}
.imgOfProduct{
    width:350px;
    height:250px;
}
figure{
    display: flex;
    justify-content: center;
}

.addToCartButton{
    width: 100%;
    padding: 0.6em;
    background-color: #4D7A44;
    border:1px solid var(--terciary-font-color);
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    z-index: 1;
    
}

button:hover {
   background-color: var(--terciary-font-color);
    border:1px solid black;

}
/*Estilo de botones para cambiar de pagina*/
.pageControl {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 1em;
}

.pageControl article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 1em;
    padding: 1em;
}
.pageControl article:not(.currentPage) {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pageControl article:not(.currentPage):hover {
    background-color: #4D7A44;
    color: white;
}
.currentPage{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.pageControl .currentPage {
    font-weight: bold;
}

.pageControl article svg {
    width: 25px;
    height: 25px;
}

.pageControl article:first-child {
    border-radius: 1em 0 0 1em; /* Border radius para el artículo de la izquierda */
}


.pageControl article:last-child {
    border-radius: 0 1em 1em 0; /* Border radius para el artículo de la derecha */
}

/*Media querys*/
@media (max-width: 1024px){
    .imgOfProduct{
        width:300px;
        height:200px;
    }
    .cardContainer{
        width: 300px;
    }
}

@media (max-width: 768px){
    .imgOfProduct{
        width:250px;
        height:150px;
    }
    .cardContainer{
        width: 250px;
    }
}

@media (max-width: 375px){
    header img{
        width: 80px;
        height: 80px;
    }
}